<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>CEPAS</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="public/css/cepas.css">
<style>
    body    { padding-top:50px; }
</style>
