<!-- views/partials/header.ejs -->

<div id="kontajner">
  <div id="hlavicka">
    <div class="logo"> <img src="public/images/logo.jpg" width="80" height="100"> </div>
    <div class="title">ODDELENIE METÓDY PACHOVEJ IDENTIFIKÁCIE</div>
  </div>
</div>
<div class="menu-container">
<div id="menu">
  <div class="dropdown">
      <button class="dropbtn"> <a href="/">DOMOV</a> </button>
    </div>
    <div class="dropdown">
      <button class="dropbtn"> <a href="kontakt">KONTAKT</a> </button>
  	</div>
     <div class="dropdown">
     	<button class="dropbtn">TECHNICI</button>
    <div class="dropdown-content"> <a href="technici-hladat">VYHĽADAŤ</a> <a href="technici-zapis">ZÁPIS UDALOSTI</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">INFORMÁCIE PRE OČTK</button>
    <div class="dropdown-content"> <a href="#">VYHĽADAŤ PODĽA ČVS</a> <a href="#">VYHĽADAŤ OSOBU</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">PACHOVÉ STOPY</button>
    <div class="dropdown-content"> <a href="pachove-stopy-zapis">NAČÍTAŤ NOVÚ</a> <a href="#">OPRAVA</a> <a href="#">OSTATNÉ</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">POROVNÁVACIE PACHOVÉ STOPY</button>
  <div class="dropdown-content"> <a href="porovnavacie-pachove-stopy-zapis">NAČÍTAŤ NOVÚ</a> <a href="porovnavacie-pachove-stopy-oprava">OPRAVA</a> <a href="#">OSTATNÉ</a> </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">PACHOVÁ IDENTIFIKÁCIA</button>
  <div class="dropdown-content"> <a href="#">ZÁPIS</a> <a href="#">TLAČ PROTOKOLU</a> <a href="#">VYHĽADANIE</a> </div>
  </div>
</div>
