<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>
   <p>
    <main>
      <h2>PREZÍDIUM POLICAJNÉHO ZBORU<h2>
      </main>
      <main>
          Odbor kynológie a hipológie
      </main>
      <main>
        <b>Oddelenie metódy pachovej identifikácie Banská Bystrica</b>
      </main>
      <main>
          Slovenské Ďarmoty č. 55
      </main>
      <p>
      </p>
<title1>
<h3>KRAJSKÉ RIADITEĽSTVO POLICAJNÉHO ZBORU V KOŠICIACH</h3>
</title1>
<other>
Odbor poriadkovej polície
</other>
<other>
oddelenie služobnej kynológie
</other>
<other>
metóda pachovej identifikácite
</other>
<other>
Košice - Lorinčík č. 150
</other>

    <% include ../partials/footer %>
</body>
</html>
