<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>
<p>
</p>
<div class="logopz"> <img src="public/images/logopz.jpg" width="80" height="100"> </div>
<p>
</p>
    <main>
    <strong>Vedúci: Kpt. Ing. Bc. Ján Varga, tel.: 860 6390</strong>
    </main>

    <other>
      <p>Zástupca: Kpt. Bc. Ondrej Foldi, tel.: 860 6393</p>
    </other>
    <% include ../partials/footer %>
</body>
</html>
