<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>

    <main>
      <h1>Načítanie pachových stôp</h1>
    </main>
    <title1>
    <h3>Prijatie pachových stôp na pracovisko OMPI</h3>
    </title1>
<p>
</p>
  <other>
    <input type="text" name="Hladaj" placeholder="Hľadať zaslané PS">
    <button>OK</button>
  </other>
    <% include ../partials/footer %>
</body>
</html>
