<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>

    <main>
      <h1>Načítanie porovnávacích pachových stôp</h1>
      <p>
      </p>
    </main>
    <title1>
    <h3>Prijatie porovnávacích pachových stôp na pracovisko OMPI</h3>
    </title1>
    <p>
    </p>
    <other>
    <input type="text" name="Hladaj" placeholder="Hľadať zaslané PPS">
    <button>OK</button>
    </other>

    <% include ../partials/footer %>
</body>
</html>
