<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>

    <main>
      <h1>Hľadanie prípadu</h1>
      <p>
      </p>
    </main>
    <other>
    <input type="text" name="Hladaj" placeholder="Hľadať prípad">
    <button>OK</button>
    </other>

    <% include ../partials/footer %>
</body>
</html>
