<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <% include ../partials/header %>

    <main>
      <h1>Zápis stôp</h1>
      <p>
      </p>
    </main>
    <other>
    <button type="button" class="btn-ps"><a href="evid-karta-mpi">PS</button></a>&nbsp&nbsp&nbsp&nbsp
    <button type="button" class="btn-pps"><a href="mik-karta">PPS</button>
    </other>
    <% include ../partials/footer %>
</body>
</html>
